## NASA Mars News

In [1]:
# Declare Dependencies 
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

## Go To Mars News Site And Get A Headline

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# Delay for webpage loading. There are sometimes errors later on without this.
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [4]:
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

slide_elem = news_soup.select_one('ul.item_list li.slide')

# Finding headline

headline = slide_elem.find("div", class_='content_title').get_text()
headline

'The MarCO Mission Comes to an End'

In [5]:
# Finding paragraph text

news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

'The pair of briefcase-sized satellites made history when they sailed past Mars in 2019.'

## JPL Mars Space Images - Featured Image

In [6]:
# Visit URL

url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [7]:
# Find and click the full image button

full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [8]:
# Find the more info button and click that

browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.find_link_by_partial_text('more info')
more_info_elem.click()

In [9]:
# Parse the resulting html with soup

html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [10]:
# find the relative image url

img_url_rel = img_soup.select_one('figure.lede a img').get("src")
img_url_rel

'/spaceimages/images/largesize/PIA09320_hires.jpg'

In [11]:
# Use the base url to create an absolute url
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA09320_hires.jpg'

## Mars Hemispheres

In [12]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [13]:
hemisphere_image_urls = []

# List of all of the hemispheres
links = browser.find_by_css("a.product-item h3")

# Loop through those links, click the link, find the sample anchor, return the href
for i in range(len(links)):
    hemisphere = {}
    
    browser.find_by_css("a.product-item h3")[i].click()
    
    sample_elem = browser.find_link_by_text('Sample').first
    hemisphere['img_url'] = sample_elem['href']
    
    hemisphere['title'] = browser.find_by_css("h2.title").text
    
    hemisphere_image_urls.append(hemisphere)
    
    browser.back()

In [14]:
hemisphere_image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

## Mars Weather

In [37]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
#Has the browser wait for all elements to load. LATER CODE WILL ERROR WITHOUT IT.
browser.is_element_present_by_css("span css-901oao", wait_time=1)

False

In [38]:
html = browser.html
weather_soup = BeautifulSoup(html, 'html.parser')

In [42]:
# First, find a tweet
mars_weather_tweet = weather_soup.find('div', attrs={"lang": "en", "dir": "auto"})

In [43]:
# Next, search within the tweet for the span tag containing the tweet text
mars_weather = mars_weather_tweet.find('span').get_text()
mars_weather

'InSight sol 449 (2020-03-01) low -93.6ºC (-136.4ºF) high -11.3ºC (11.7ºF)\nwinds from the SSW at 6.8 m/s (15.1 mph) gusting to 23.9 m/s (53.4 mph)\npressure at 6.30 hPa'

In [ ]:
# "class":"css-901oao"

## Mars Facts

In [47]:
df = pd.read_html('https://space-facts.com/mars/')[1]
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

ValueError: Length mismatch: Expected axis has 3 elements, new values have 2 elements

In [54]:
url = 'http://space-facts.com/mars/'
# use pandas to extract table from the page
facts_table = pd.read_html(url)
# create df with columns' headers
df = facts_table[0]
df.columns = ['Parameter','Value']
df

              Parameter                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [51]:
# convert to html table
facts_table = df.to_html()
facts_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Parameter</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'